; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver="pdo_pgsql"
    database_host="localhost"
    database_port=""
    database_name="testdb01"
    database_user="user01"
    database_password="12345"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="c5a784e0cb12988b05d04d2c114a5d7ce1dbbd50"
