{% if dados is defined %}
	{{dados}}
{% endif %}

{% if form is defined %}
<form action="{{ path('product_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endif %}